<div>
    <div class="word">
        <app-letter class="letter-box"></app-letter>
        <app-letter class="letter-box"></app-letter>
        <app-letter class="letter-box"></app-letter>
        <app-letter class="letter-box"></app-letter>
        <app-letter class="letter-box"></app-letter>
    </div>
    <div class="word">
        <app-letter class="letter-box"></app-letter>
        <app-letter class="letter-box"></app-letter>
        <app-letter class="letter-box"></app-letter>
        <app-letter class="letter-box"></app-letter>
        <app-letter class="letter-box"></app-letter>
    </div>
    <div class="word">
        <app-letter class="letter-box"></app-letter>
        <app-letter class="letter-box"></app-letter>
        <app-letter class="letter-box"></app-letter>
        <app-letter class="letter-box"></app-letter>
        <app-letter class="letter-box"></app-letter>
    </div>
    <div class="word">
        <app-letter class="letter-box"></app-letter>
        <app-letter class="letter-box"></app-letter>
        <app-letter class="letter-box"></app-letter>
        <app-letter class="letter-box"></app-letter>
        <app-letter class="letter-box"></app-letter>
    </div>
    <div class="word">
        <app-letter class="letter-box"></app-letter>
        <app-letter class="letter-box"></app-letter>
        <app-letter class="letter-box"></app-letter>
        <app-letter class="letter-box"></app-letter>
        <app-letter class="letter-box"></app-letter>
    </div>
    <div class="word">
        <app-letter class="letter-box"></app-letter>
        <app-letter class="letter-box"></app-letter>
        <app-letter class="letter-box"></app-letter>
        <app-letter class="letter-box"></app-letter>
        <app-letter class="letter-box"></app-letter>
    </div>
</div>
