.word {
    display: Flex;
    padding: 5px;
}

.letter-box {
    margin: 0px 2px 0px 2px;
}

.correct {
    background-color: green;
}

.incorrect {
    background-color: gray
}

.wrong-position {
    background-color: yellow
}